@import "reset";

$tab: 680px; // タブレット
$pc: 1024px; // PC
@mixin tab {
  @media (min-width: ($tab)) {
    @content;
  }
}
@mixin pc {
  @media (min-width: ($pc)) {
    @content;
  }
}

@import "single";

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN",
    "ヒラギノ角ゴ ProN W3", meiryo, メイリオ, osaka, "MS PGothic", arial,
    helvetica, sans-serif;
  background-color: $background;
}
.inner {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.new a {
  opacity: 0.6;
  transition: all 0.3s ease;
}

.header {
  background: $main-color;
}
.header-logo {
  text-align: center;
  font-weight: bold;
  line-height: 65px;
  font-size: 22px;
  @include tab {
    line-height: 80px;
  }
  a {
    color: $dark-color;
  }
}

.header-nav {
  display: none;
  @include tab {
    display: block;
  }
  border-bottom: solid 4px $main-color;
  background: #fff;
  line-height: 45px;
  &__list {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    & li {
      padding: 0 15px;
    }
  }
}
.drawer-nav {
  opacity: 0.9;
  font-weight: bold;
  text-align: center;
  padding-top: 30px;
  & li {
    padding: 15px 0;
  }
}
.list-search {
  margin: 0 10px;
}

.main-aside {
  display: flex;
  max-width: 1100px;
  width: 100%;
  margin-top: 50px;
  flex-direction: column;
  @include tab {
    flex-direction: row;
    justify-content: space-between;
    margin: 50px auto;
  }
}
/* メイン記事一覧 */
.main {
  height: 100%;
}

.main-content {
  text-align: left;
  margin: 0 2px;
  margin-bottom: 50px;
  padding: 5px;
  @include tab {
    max-width: 90%;
    margin: 0 auto 50px auto;
    padding: 20px;
  }
  &__title {
    font-size: 22px;
    padding: 10px 0;
    border-bottom: solid 6px #dedede;
  }
  &__img {
    margin-top: 10px;
    & img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      @include tab {
        height: 400px;
      }
    }
  }
  &__flex {
    display: flex;
    margin: 10px 0;
  }
}
.category-item {
  padding: 5px;
  margin-right: 10px;
  background: $small-color;
  border-radius: 10px;
  & a {
    color: #fff;
  }
}
.date-item {
  font-size: 15px;
  opacity: 0.6;
  margin: auto 0;
  &::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f073";
    padding-right: 5px;
  }
}
// もう一つの記事一覧の形
.archive-contents {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  @include tab {
    min-width: 500px;
    justify-content: space-between;
  }
}
.archive-contents::after {
  display: block;
  content: "";
  width: 90%;
  @include tab {
    width: 47%;
  }
}
* {
  outline: 1px solid pink;
}

.archive-content {
  background: #fff;
  width: 90%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 2rem auto 0 auto;
  @include tab {
    width: 47%;
    margin: 0;
    &:nth-child(n + 3) {
      margin-top: 2rem;
    }
  }

  &__item {
    padding: 10px;
    &-title {
      font-size: 20px;
      font-weight: bold;
      padding-top: 20px;
      transition: all 0.3s ease;
      &:hover {
        opacity: 0.6;
      }
    }
    &-item2 {
      display: flex;
    }
  }

  &__img {
    width: 100%;
    height: 200px;
    overflow: hidden;
    & img {
      height: 200px;
      object-fit: cover;
      transition-duration: 0.3s;
      width: 100%;
      @include tab {
        max-width: 370px;
      }
      &:hover {
        transform: scale(1.1);
        transition-duration: 0.3s;
        opacity: 0.9;
      }
    }
  }
  &__text {
    display: none;
    @include tab {
      display: block;
    }
  }
}

/* 検索タイトル */
.searchpage {
  margin-bottom: 30px;
  font-size: 20px;
  display: flex;
  line-height: 40px;
  &-icon {
    background: $main-color;
    color: $dark-color;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
  }
  &-result {
    font-weight: bold;
  }
}
/* 検索タイトル */
.archive__title {
  margin-bottom: 30px;
  padding-left: 10px;
  font-size: 20px;
  line-height: 50px;
  font-weight: bold;
  background: $main-color;
  & a {
    color: $dark-color;
  }
}

/* サイドバー */
aside {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #fff;
  margin-top: 3rem;
  @include tab {
    max-width: 310px;
    width: 50%;
    margin-top: 0;
    margin-left: 40px;
  }
}
.sidebar {
  text-align: left;
  margin: 10% auto;
  width: 80%;
}

.profile-container {
  margin: 20px 0;
  text-align: center;
  &__name {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  &__text {
    text-align: left;
  }
}
.profile-container__img {
  margin: 20px auto;
  width: 40%;
  border-radius: 50%;
  border: solid 5px #f3f3f3;
}

.wprofile-sns {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.wprofile-sns-item {
  margin-left: 40px;
  &:first-child {
    margin-left: 0;
  }
  & a {
    font-size: 26px;
  }
  &.m_twitter a {
    color: #1da1f2;
  }
  &.m_instagram a {
    color: #c13584;
  }
  &.m_github a {
    color: $dark-color;
  }
}

.search-form {
  margin: 30px auto;
  position: relative;
  &__input {
    outline: none;
    font-size: 18px;
    padding-left: 10px;
    border: 0;
    border: solid 1px #ccc;

    border-radius: 3px;
    width: 100%;
    line-height: 45px;
    box-sizing: border-box;
  }
  &__submit {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 45px;
    width: 15%;
    font-size: 18px;
  }
}

.new-content {
  width: 100%;
  display: flex;
  margin: 20px 0;
  & img {
    width: 80px;
    height: 80px;
    padding-right: 10px;
    object-fit: cover;
    &:hover {
      opacity: 0.6;
    }
  }
  &__text {
    align-self: center;
    font-size: 14px;
  }
}

.category-items li {
  margin: 20px 0;
  &::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105";
    padding-right: 5px;
  }
}

.fas {
  padding-right: 5px;
}

.side-title {
  margin-top: 60px;
  line-height: 1.8;
  font-size: 20px;
  border-bottom: solid 5px #dedede;
}
.profile-title {
  margin-top: 0;
}

.footer-nav {
  margin: auto;
  padding: 20px 0;
  background: #9c9a9a;
  @include tab {
    line-height: 100px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include tab {
      flex-direction: row;
    }
    & li {
      padding: 10px 0;
      @include tab {
        padding: 0 15px;
      }
    }
  }
  & a {
    color: #fff;
  }
}

.footer-copyright {
  background: $dark-color;
  font-size: 10px;
  & p {
    text-align: center;
    line-height: 3;
    color: #fff;
    font-size: 12px;
  }
}

/* 404 */
.page404 {
  height: 50vh;
  text-align: center;
  padding-top: 100px;
}
.backToTop a {
  margin-top: 30px;
  padding: 20px;
  background: $small-color;
  border-radius: 10px;
  display: inline-block;
  color: #fff;
}

.twitter-wijet {
  margin-top: 10px;
}

/* お問い合わせ */
.contact-form {
  width: 90%;
  margin: 0 auto;
  @include tab {
    width: 55%;
  }
}
/* フォーム入力項目 */
.must {
  background: #e94046;
}

/* 任意マーク */
.free {
  background: #999;
}

.must,
.free {
  color: #fff;
  border-radius: 3px;
  font-size: 12px;
  margin-right: 10px;
  padding: 5px 10px;
  letter-spacing: 0.2em;
}

.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 textarea {
  width: 100%;
  padding: 8px 15px;
  box-sizing: border-box;
  margin: 10px auto 20px auto;
  border: 1px solid #ddd;
  border-radius: 3px;
}

input.sub-btn {
  width: 100%;
  height: 60px;
  background: $small-color;
  color: #fff;
  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: 0.2em;
  border: 1px solid $small-color;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  margin: auto;
}

/* 送信ボタンホバー */
input.sub-btn:hover {
  background: #fff;
  color: $small-color;
}
.center {
  text-align: center;
}
/* お問い合わせ */
