@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
*/
/* #F99695 #7EC2C2*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: black;
}

a:hover {
  opacity: 0.6;
}

p,
td,
th {
  line-height: 1.5;
  letter-spacing: 0.5px;
  text-align: justify;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

li {
  list-style: none;
}

img {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.article-aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1100px;
  margin-top: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 680px) {
  .article-aside {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 50px auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.article {
  font-size: 16px;
}

@media (min-width: 680px) {
  .article {
    width: 70%;
  }
}

.article-background {
  background: #fff;
  padding-bottom: 2rem;
}

.post-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.article-content {
  margin-bottom: 50px;
}

.article-content h1 {
  margin: 20px 0;
  padding: 13px 20px;
  font-size: 22px;
  background: #f0e68c;
  font-weight: 700;
  color: #5b5b5b;
}

.article-content h2 {
  margin: 20px 0;
  padding: 15px;
  font-size: 20px;
  font-weight: 700;
  border-left: solid 5px #f0e68c;
}

.article-content h3 {
  margin: 20px 0;
  font-size: 18px;
  font-weight: 700;
}

.article-content p,
h1,
h2,
h3 {
  line-height: 1.8;
  letter-spacing: 1px;
}

.article-content table {
  border: dashed 2px #9c9a9a;
  width: 100%;
}

.article-content td {
  padding: 7px 15px;
}

.article-content th {
  display: table;
  width: 6em;
  text-align: right;
}

/* 目次*/
#toc_container {
  margin: 20px auto;
  padding: 15px 20px;
  background: #fff;
  border-radius: 20px;
  color: #ef6e65c4;
}

#toc_container .toc_title {
  font-family: ‘M PLUS Rounded 1c’, sans-serif;
  text-align: center;
  margin-bottom: 35px;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0px;
  font-size: 1.7em;
  border-bottom: 5px solid #dedede;
}

#toc_container .toc_list {
  list-style-type: none !important;
  counter-reset: li;
}

#toc_container .toc_list > li {
  position: relative;
  margin-bottom: 15px;
  margin-left: 6px;
  line-height: 1.3em;
  font-size: 0.9em;
}

#toc_container .toc_list > li a {
  text-decoration: none !important;
}

#toc_container .toc_list > li a:hover {
  text-decoration: underline !important;
}

#toc_container .toc_list > li ul {
  list-style-type: disc;
  margin-top: 15px;
  padding-left: 20px;
  color: #f08080;
}

#toc_container .toc_list > li > ul li {
  font-size: 0.9em;
  margin-bottom: 8px;
}

@media only screen and (min-width: 641px) {
  #toc_container {
    padding: 25px 40px;
  }
  #toc_container .toc_title {
    font-size: 2em;
  }
  #toc_container .toc_list > li {
    margin-bottom: 18px;
    margin-left: 12px;
    font-size: 1em;
  }
  #toc_container .toc_list > li:after {
    left: -48px;
    top: 0px;
    font-size: 26px;
  }
}

/* 目次 ここまで*/
body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", meiryo, メイリオ, osaka, "MS PGothic", arial, helvetica, sans-serif;
  background-color: #f4f4f4;
}

.inner {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.new a {
  opacity: 0.6;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header {
  background: #f0e68c;
}

.header-logo {
  text-align: center;
  font-weight: bold;
  line-height: 65px;
  font-size: 22px;
}

@media (min-width: 680px) {
  .header-logo {
    line-height: 80px;
  }
}

.header-logo a {
  color: #5b5b5b;
}

.header-nav {
  display: none;
  border-bottom: solid 4px #f0e68c;
  background: #fff;
  line-height: 45px;
}

@media (min-width: 680px) {
  .header-nav {
    display: block;
  }
}

.header-nav__list {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-nav__list li {
  padding: 0 15px;
}

.drawer-nav {
  opacity: 0.9;
  font-weight: bold;
  text-align: center;
  padding-top: 30px;
}

.drawer-nav li {
  padding: 15px 0;
}

.list-search {
  margin: 0 10px;
}

.main-aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1100px;
  width: 100%;
  margin-top: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 680px) {
  .main-aside {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 50px auto;
  }
}

/* メイン記事一覧 */
.main {
  height: 100%;
}

@media (min-width: 680px) {
  .main {
    width: 70%;
  }
}

.main-content {
  text-align: left;
  margin: 0 auto 50px auto;
  margin-bottom: 50px;
  max-width: 85%;
}

@media (min-width: 680px) {
  .main-content {
    max-width: 90%;
  }
}

.main-content__title {
  font-size: 22px;
  padding: 10px 0;
  border-bottom: solid 6px #dedede;
}

.main-content__img {
  margin-top: 10px;
}

.main-content__img img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 680px) {
  .main-content__img img {
    height: 400px;
  }
}

.main-content__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
}

.category-item {
  padding: 5px;
  margin-right: 10px;
  background: #d48a8a;
  border-radius: 10px;
}

.category-item a {
  color: #fff;
}

.date-item {
  font-size: 15px;
  opacity: 0.6;
  margin: auto 0;
}

.date-item::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f073";
  padding-right: 5px;
}

.archive-contents {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 680px) {
  .archive-contents {
    min-width: 500px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.archive-contents::after {
  display: block;
  content: "";
  width: 90%;
}

@media (min-width: 680px) {
  .archive-contents::after {
    width: 47%;
  }
}

.archive-content {
  background: #fff;
  width: 90%;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 2rem auto 0 auto;
}

@media (min-width: 680px) {
  .archive-content {
    width: 47%;
    margin: 0;
  }
  .archive-content:nth-child(n + 3) {
    margin-top: 2rem;
  }
}

.archive-content__item {
  padding: 10px;
}

.archive-content__item-title {
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.archive-content__item-title:hover {
  opacity: 0.6;
}

.archive-content__item-item2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.archive-content__img {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.archive-content__img img {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  width: 100%;
}

@media (min-width: 680px) {
  .archive-content__img img {
    max-width: 370px;
  }
}

.archive-content__img img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  opacity: 0.9;
}

.archive-content__text {
  display: none;
}

@media (min-width: 680px) {
  .archive-content__text {
    display: block;
  }
}

/* 検索タイトル */
.searchpage {
  margin-bottom: 30px;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 40px;
}

.searchpage-icon {
  background: #f0e68c;
  color: #5b5b5b;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
}

.searchpage-result {
  font-weight: bold;
}

/* 検索タイトル */
.archive__title {
  margin-bottom: 30px;
  padding-left: 10px;
  font-size: 20px;
  line-height: 50px;
  font-weight: bold;
  background: #f0e68c;
}

.archive__title a {
  color: #5b5b5b;
}

/* サイドバー */
aside {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #fff;
  margin-top: 3rem;
}

@media (min-width: 680px) {
  aside {
    max-width: 310px;
    width: 50%;
    margin-top: 0;
    margin-left: 40px;
  }
}

.sidebar {
  text-align: left;
  margin: 10% auto;
  width: 80%;
}

.profile-container {
  margin: 20px 0;
  text-align: center;
}

.profile-container__name {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.profile-container__text {
  text-align: left;
}

.profile-container__img {
  margin: 20px auto;
  width: 40%;
  border-radius: 50%;
  border: solid 5px #f3f3f3;
}

.wprofile-sns {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0;
}

.wprofile-sns-item {
  margin-left: 40px;
}

.wprofile-sns-item:first-child {
  margin-left: 0;
}

.wprofile-sns-item a {
  font-size: 26px;
}

.wprofile-sns-item.m_twitter a {
  color: #1da1f2;
}

.wprofile-sns-item.m_instagram a {
  color: #c13584;
}

.wprofile-sns-item.m_github a {
  color: #5b5b5b;
}

.search-form {
  margin: 30px auto;
  position: relative;
}

.search-form__input {
  outline: none;
  font-size: 18px;
  padding-left: 10px;
  border: 0;
  border: solid 1px #ccc;
  border-radius: 3px;
  width: 100%;
  line-height: 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.search-form__submit {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 45px;
  width: 15%;
  font-size: 18px;
}

.new-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
}

.new-content img {
  width: 80px;
  height: 80px;
  padding-right: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.new-content img:hover {
  opacity: 0.6;
}

.new-content__text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 14px;
}

.category-items li {
  margin: 20px 0;
}

.category-items li::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  padding-right: 5px;
}

.fas {
  padding-right: 5px;
}

.side-title {
  margin-top: 60px;
  line-height: 1.8;
  font-size: 20px;
  border-bottom: solid 5px #dedede;
}

.profile-title {
  margin-top: 0;
}

.footer-nav {
  margin: auto;
  padding: 20px 0;
  background: #9c9a9a;
}

@media (min-width: 680px) {
  .footer-nav {
    line-height: 100px;
  }
}

.footer-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 680px) {
  .footer-nav__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer-nav__list li {
  padding: 10px 0;
}

@media (min-width: 680px) {
  .footer-nav__list li {
    padding: 0 15px;
  }
}

.footer-nav a {
  color: #fff;
}

.footer-copyright {
  background: #5b5b5b;
  font-size: 10px;
}

.footer-copyright p {
  text-align: center;
  line-height: 3;
  color: #fff;
  font-size: 12px;
}

/* 404 */
.page404 {
  height: 50vh;
  text-align: center;
  padding-top: 100px;
}

.backToTop a {
  margin-top: 30px;
  padding: 20px;
  background: #d48a8a;
  border-radius: 10px;
  display: inline-block;
  color: #fff;
}

.twitter-wijet {
  margin-top: 10px;
}

/* お問い合わせ */
.contact-form {
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 680px) {
  .contact-form {
    width: 70%;
    padding: 0 3rem;
  }
}

/* フォーム入力項目 */
.must {
  background: #d48a8a;
}

/* 任意マーク */
.free {
  background: #999;
}

.must,
.free {
  color: #fff;
  border-radius: 3px;
  font-size: 12px;
  margin-right: 10px;
  padding: 5px 10px;
  letter-spacing: 0.2em;
}

.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 textarea {
  width: 100%;
  line-height: 1.5;
  padding: 8px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 10px auto 20px auto;
  border: 1px solid #ddd;
  border-radius: 3px;
}

@media (min-width: 680px) {
  .wpcf7 input[type="text"],
  .wpcf7 input[type="email"],
  .wpcf7 textarea {
    font-size: 18px;
  }
}

input.sub-btn {
  width: 100%;
  height: 60px;
  background: #d48a8a;
  color: #fff;
  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: 0.2em;
  border: 2px solid #d48a8a;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: auto;
}

/* 送信ボタンホバー */
input.sub-btn:hover {
  background: #fff;
  color: #d48a8a;
}

.center {
  text-align: center;
}

/* お問い合わせ */
/*# sourceMappingURL=style.css.map */